/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2')
            format('woff2'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff')
            format('woff'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf')
            format('truetype'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto')
            format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto/roboto-v20-latin_cyrillic-500.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2')
            format('woff2'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-500.woff') format('woff'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf')
            format('truetype'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto')
            format('svg');
}
/* roboto-700 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto/roboto-v20-latin_cyrillic-700.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2')
            format('woff2'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-700.woff') format('woff'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf')
            format('truetype'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto')
            format('svg');
}
/* roboto-900 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto/roboto-v20-latin_cyrillic-900.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-900.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-900.woff2')
            format('woff2'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-900.woff') format('woff'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-900.ttf')
            format('truetype'),
        url('../fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto')
            format('svg');
}

/*Цвет основного текста  rgba(33, 33, 33, 1)*/
/*Вторичний цвет  rgba(117, 117, 117, 1)*/
/* белый #FFFFFF*/
/*Акцент #2196F3*/
/* Основной цвет фона #E5E5E5*/
/* Вторичный цвет фона #2F303A */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --main-text-color: rgba(117, 117, 117, 1);
    --accent-color: #2196f3;
    --black: rgba(33, 33, 33, 1);
    --white: #ffffff;
    --footer-text-accent: rgba(255, 255, 255, 0.6);
    --main-bg: #e5e5e5;
    --light-bg: #f5f4fa;
    --dark-bg: #2f303a;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.page {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color: var(--main-bg);
    color: var(--main-text-color);
}

.link {
    /* display: inline-block; */
    color: inherit;
    text-decoration: none;
}

.list {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Навигация */

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--white);
}

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

/* Header */

.header .logo {
    margin-right: 93px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.logo-studio {
    color: var(--black);
}

.site-nav {
    display: inline-flex;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    color: var(--black);
}

.site-nav .link:hover,
.site-nav .link:focus {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.contacts {
    display: inline-flex;
    /* margin-left: 331px; */
}

.contacts .item:not(:last-child) {
    margin-right: 50px;
}

.mail .link:hover,
.mail .link:focus {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.contacts .link {
    color: var(--black);
}

.phone:hover,
.phone:focus {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* Герой */

.hero {
    text-align: center;
    /* align-items: center; */
    background-color: var(--dark-bg);
}

/* .hero-container {
    align-items: center;
    background-color: var(--dark-bg);
} */

.hero-content {
    text-align: center;
    align-items: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    padding-top: 232px;
    margin-bottom: 30px;
    max-width: 696px;
    text-align: center;
}

/* Кнопка Заказ */

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: 0;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white);
}

/* Особенности */

.section-features {
    padding-top: 94px;
    padding-bottom: 47px;
    background-color: var(--white);
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.contant-box {
    width: calc((100% -90px) / 4);
}

.features-list .contant-box:not(:last-child) {
    margin-right: 30px;
}

.section-title-features {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--black);
}

/* Чем занимаемся */

.section-work {
    padding-top: 47px;
    padding-bottom: 94px;
    background-color: var(--white);
}

.work-container li {
    width: 370px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
}

.grid-item {
    margin-top: 30px;
    margin-left: 30px;
}

.gallery-item {
    flex-basis: calc(100% / 3 - 30px);
}

/* Команда */

.section-team {
    background-color: var(--light-bg);
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-container li {
    width: 270px;
}

.gallery-team {
    flex-basis: calc(100% / 4 - 30px);
}

.team-person {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
}

.section-title {
    margin-bottom: 50px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--black);
}

.time {
    margin-bottom: 10px;
}

.time {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--black);
}

.profession {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

/* ФУТЕР */
.footer {
    background-color: var(--dark-bg);
    color: var(--footer-text-accent);
}

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo {
    margin-bottom: 20px;
}

.logo-studio-wight {
    color: var(--white);
}

.footer-list {
    font-style: normal;
    color: var(--footer-text-accent);
}

.map {
    margin-bottom: 9px;
    color: var(--white);
}

.footer-mail {
    margin-bottom: 9px;
}

/* Страница Портфолио */
.main-portfolio {
    background-color: var(--white);
}

/* Фильтры */

.button-filter {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: var(--light-bg);
    color: var(--black);
}

.button-filter:hover,
.button-filter:focus {
    background-color: var(--accent-color);
    color: var(--white);
}
.button-filter:visited {
    background-color: var(--light-bg);
    color: var(--black);
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black);
}

.project-subtitle {
    font-size: 16px;
    line-height: 1.87;
}
